body {
  background-color: #f2eef1;
}

aside {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
aside .dropdown-toggle {
  outline: 0;
}
aside .btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
aside .btn-toggle:hover,
aside .btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}
aside .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
aside .btn-toggle[aria-expanded=true] {
  color: rgba(0, 0, 0, 0.85);
}
aside .btn-toggle[aria-expanded=true]::before {
  transform: rotate(90deg);
}
aside .btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
aside .btn-toggle-nav a:hover,
aside .btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
aside .scrollarea {
  overflow-y: auto;
}

main {
  margin: 50px;
}

.hide {
  display: none;
}

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item img {
  height: 330px;
}

.hero {
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 350px 350px;
  gap: 20px;
  grid-template-areas: "sidebar mainSlide" "sidebar subSlide";
}
.hero aside.side {
  grid-area: sidebar;
  height: 700px;
}
.hero .main-slide {
  grid-area: mainSlide;
  border-radius: 30px !important;
}
.hero .main-slide .carousel-inner {
  border-radius: 20px;
}
.hero .main-slide img {
  height: 350px;
}
.hero .sub-slide {
  grid-area: subSlide;
}
.hero .sub-slide .carousel-inner {
  border-radius: 20px;
}
.hero .sub-slide img {
  height: 350px;
}

@media screen and (max-width: 575px) {
  main {
    margin: 20px;
  }
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mainSlide" "subSlide";
  }
  .hero aside.side {
    grid-area: sidebar;
    display: none;
  }
  .hero .main-slide {
    grid-area: mainSlide;
    margin-bottom: 0;
  }
  .hero .main-slide img {
    height: auto;
  }
  .hero .sub-slide {
    grid-area: subSlide;
  }
  .hero .sub-slide img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.flashsales {
  /* display 4 */
}
@media (max-width: 768px) {
  .flashsales .carousel-inner .carousel-item > div {
    display: none;
  }
  .flashsales .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.flashsales .carousel-inner .carousel-item.active,
.flashsales .carousel-inner .carousel-item-start,
.flashsales .carousel-inner .carousel-item-next,
.flashsales .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  .flashsales .carousel-inner .carousel-item-right.active,
.flashsales .carousel-inner .carousel-item-next,
.flashsales .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }
  .flashsales .carousel-inner .carousel-item-left.active,
.flashsales .carousel-item-prev:not(.carousel-item-end),
.flashsales .active.carousel-item-start,
.flashsales .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
  .flashsales .carousel-item-next.carousel-item-start,
.flashsales .active.carousel-item-end {
    transform: translateX(0) !important;
  }
  .flashsales .carousel-inner .carousel-item-prev,
.flashsales .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
}

.swiper-slide {
  width: 400px;
  height: 200px;
  background: goldenrod !important;
}/*# sourceMappingURL=main.css.map */