/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #f7f8fa;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

main {
  padding: 30px 50px;
}

.header {
  background: #ff2910;
  height: 100px;
}

/* ===== Sidebar ===== */
.sidebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  /* =========================== */
}
.sidebar .close {
  width: 88px;
}
.sidebar li {
  height: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar .close .text {
  opacity: 0;
}
.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
.sidebar header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
.sidebar header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar .close .toggle {
  transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu {
  margin-top: 40px;
}
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
.sidebar .menu-bar {
  /* height: calc(100% - 55px); */
  overflow-y: scroll;
}
.sidebar .menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}
.sidebar .menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}
.sidebar .mode .sun-moon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  /* position: absolute; */
  /* top: 0;
    top: 0; */
  /* left: 250px; */
  /* height: 100vh; */
  /* width: calc(100% - 250px); */
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.sidebar.close ~ .home,
.sidebar.close ~ .f {
  background-color: #3a3b3c;
  /* height: 100vh; */
}

.start {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "ss sss" "ss sd";
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.cc {
  grid-template-columns: 250px 1fr;
}

.scc {
  grid-template-columns: 88px 1fr;
}

.cc {
  grid-template-columns: 250px 1fr;
}

.sidebar {
  grid-area: ss;
}

.home {
  grid-area: sss;
  min-width: 0;
}

.mainSlide .swiper-slide img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.topSell {
  grid-area: sd;
  min-width: 0;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}
.topSell .swiper {
  padding: 20px 0;
}

section {
  /* margin-top: 20px; */
}

@media screen and (max-width: 768px) {
  main {
    padding: 30px 30px;
  }
  .sidebar {
    display: none;
  }
  .start {
    grid-template-areas: "sss sss" "sd sd";
  }
  .flashtext {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
  }
  .flashtext h2 {
    font-size: 0.8rem !important;
  }
  .flashtext a {
    font-size: 0.7rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .flashtext .countDown {
    display: flex;
    justify-content: start !important;
    align-items: center;
  }
  .flashtext .countDown span {
    background: none !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 10px;
    display: grid;
    align-items: center;
    font-weight: 600;
    font-size: 0.5rem !important;
    text-align: center;
    height: auto !important;
    width: auto !important;
    padding: 1px !important;
  }
}
.flashsales {
  margin-top: 20px;
}

.flashsales,
.topSell,
.productAround {
  margin-top: 20px;
}
.flashsales .flashtext,
.topSell .flashtext,
.productAround .flashtext {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.flashsales .flashtext .countDown,
.topSell .flashtext .countDown,
.productAround .flashtext .countDown {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.flashsales .flashtext .countDown span,
.topSell .flashtext .countDown span,
.productAround .flashtext .countDown span {
  background: #695cfe;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  width: 50px;
  padding: 10px;
}
.flashsales .swiper-slide,
.topSell .swiper-slide,
.productAround .swiper-slide {
  margin: 2px;
  background: #ddd;
  border-radius: 20px;
  height: 300px;
  min-width: 300px;
  /* box-shadow */
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 7px !important;
  /* box-shadow: transparent; */
  overflow: hidden;
}
.flashsales .swiper-slide .card,
.topSell .swiper-slide .card,
.productAround .swiper-slide .card {
  height: 300px;
  min-width: 300px;
  position: relative;
}
.flashsales .swiper-slide .card .cardImg img,
.topSell .swiper-slide .card .cardImg img,
.productAround .swiper-slide .card .cardImg img {
  width: 100%;
  height: 300px;
  -o-object-position: right;
     object-position: right;
}
.flashsales .swiper-slide .card .cardText,
.topSell .swiper-slide .card .cardText,
.productAround .swiper-slide .card .cardText {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.657);
  position: absolute;
  background: rgba(0, 0, 0, 0.227);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.flashsales .swiper-slide .card .cardText h3.productName,
.topSell .swiper-slide .card .cardText h3.productName,
.productAround .swiper-slide .card .cardText h3.productName {
  font-size: 1rem;
  color: #ffffff;
}
.flashsales .swiper-slide .card .cardText .reviewStar i,
.topSell .swiper-slide .card .cardText .reviewStar i,
.productAround .swiper-slide .card .cardText .reviewStar i {
  color: rgb(255, 183, 0);
}
.flashsales .swiper-slide .card .cardText .price,
.topSell .swiper-slide .card .cardText .price,
.productAround .swiper-slide .card .cardText .price {
  margin-top: 5px;
}
.flashsales .swiper-slide .card .cardText .price span,
.topSell .swiper-slide .card .cardText .price span,
.productAround .swiper-slide .card .cardText .price span {
  font-weight: 600;
  color: #fff;
}
.flashsales .swiper-slide .card .cardText .price span.initial,
.topSell .swiper-slide .card .cardText .price span.initial,
.productAround .swiper-slide .card .cardText .price span.initial {
  background: #ffffff;
  color: rgb(255, 136, 0);
  padding: 3px 5px;
  border-radius: 5px;
}

section.productAround,
section.popularAround {
  margin-top: 25px;
}
section.productAround .flash :nth-child(2),
section.popularAround .flash :nth-child(2) {
  margin-left: 10px;
}
section.productAround .flash h2,
section.popularAround .flash h2 {
  font-size: 1.3rem;
  position: relative;
}
section.productAround .flash h2::after,
section.popularAround .flash h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: orange;
}
section.productAround .gridItem,
section.popularAround .gridItem {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
section.productAround .gridItem img,
section.popularAround .gridItem img {
  width: 100%;
}/*# sourceMappingURL=st.css.map */