html,
body {
  height: 100%;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: rgb(243, 243, 243);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: purple;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
//////////////////////////////////////////////////////////////////////

section {
  &.hero {
    .category {
      padding: 0;
      border-radius: 15px;
      .catetoryTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
        i {
          color: #000;
          font-weight: 700;
          font-size: 30px;
          cursor: pointer;
        }
      }

      .category-item {
        ul {
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;
          li {
            padding: 2px 20px;
            font-size: 0.7rem;
            &:hover {
              background: #fff;
            }

            i {
              padding: 5px 10px 0;
            }
          }
        }
      }
    }
  }

  &.flash {
    .title,
    .countDown {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .countDown {
        gap: 5px;
        i {
          background: #000;
          padding: 5px;
          color: #fff;
          border-radius: 5px;
        }
      }
      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }
  &.stores,
  &.popular {
    .title {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 20px;
      .navi {
        a {
          text-decoration: none;
          font-size: 1.5rem;
          position: relative;
          &:hover::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -3px;
            left: 0;
            background: coral;
          }
        }
        :first-child:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: -3px;
          left: 0;
          background: coral;
        }
        :last-child {
          margin-left: 15px;
        }
      }
    }
  }
}

////////////RESPONSIVENESS///////////////////
@media screen and (max-width: 768px) {
  .category {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .flash .title {
    > h2 {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  .countDown {
    i {
      font-size: 0.8rem;
    }
  }
  .stores .title,
  .popular .title {
    flex-wrap: wrap;
    .navi a {
      font-size: 0.7rem !important;
      font-weight: 600;
    }
    > a {
      color: coral;
    }
  }
}
@media screen and (max-width: 425px) {
  .flash .title {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 15px;
    h2 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    .countDown {
      i {
        font-size: 0.8rem;
        background: transparent !important;
        color: #000 !important;
        font-weight: 600;
      }
    }
  }
}
/////////////////////////OWL CAROUSEL///////////////
.owl-carousel {
  position: relative;

  button.owl-prev,
  button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
    &.owl-prev {
      padding: 10px !important;
      left: 0;
    }
    &.owl-next {
      right: 0;
    }
    span {
      padding: 30px 10px !important;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  .owl-dots {
    position: absolute;
    display: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.subSlide {
  .owl-dots {
    display: none !important;
  }

  .card {
    position: relative;
    // width: ;
    .card-body {
      .card-title {
        text-overflow: ellipsis; /* will make [...] at the end */
        width: 100%; /* change to your preferences */
        white-space: nowrap; /* paragraph to one line */
        overflow: hidden; /* older browsers */
      }
      p.card-text {
      }
      a {
        text-decoration: none;
        color: #333;
      }
      //   position: absolute;
      bottom: 0;
      background: #fff;
      width: 100%;
    }
  }
}
